.sidebarWrapper {
  position: fixed;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  top: 50px;
  right: 0;
  height: calc(100% - 50px);
  min-height: calc(100vh - 50px);
  width: 220px;
  background-color: #5798f4;
}