.friendCardWrapper {
  width: 150px;
  height: 50px;
  padding: 0 10px 0 10px;
  background-color: #1b56b7;
  position: relative;
  margin: 15px;
}

.infoWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50px;
}

.acceptButton {
  position: absolute;
  top: -10px;
  left: -5px;
  color: white;
  background-color: black;
  cursor: pointer;
  padding: 0 5px 0 5px;
}

.declineButton img {
  cursor: pointer;
  position: absolute;
  bottom: -10px;
  right: -5px;
  height: 30px;
  width: 30px;
}

.displayName {
  font-weight: bold;
}