.createGamePageWrapper {
  width: 100vw;
  min-height: calc(100vh);
  height: 100%;
  background-color: #8bb1ef;
}

#createGameForm button {
  background-color: #5798f4;
  border-radius: 5px;
  width: 150px;
  height: 40px;
  margin-top: 30px;
  border-style: none;
}

.createGameFormWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.usernameInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#createGameForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#createGameForm select {
  height: 20px;
  width: 100px;
}