.homePageWrapper {
  width: 100vw;
  min-height: 100vh;
  height: 100%;
  background-color: #8bb1ef;
}

.activeBoardWrapper {
  margin-top: 50px;
  background-color: #8bb1ef;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 220px;
}