.navbar {
  height: 50px;
  background-color: #1b56b7;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left {
  display: flex;
}

.right {
  display: flex;
}

.button {
  display: flex;
  height: 50px;
  align-items: center;
  cursor: pointer;
  margin: 0 15px 0 15px;
}